<div class="car-details">
  <div class="car-image">
    <!-- Araba fotoğrafı burada olacak -->
  </div>
  <div class="car-info">
    <h4 *ngIf="carDetails.length > 0" class="car-brand">
      {{ carDetails[0].brandName | uppercase }}
    </h4>
    <ul class="car-attributes">
      <li *ngIf="carDetails.length > 0">
        <span><b>Model Yili:</b></span> {{ carDetails[0].modelYear }}
      </li>
      <li *ngIf="carDetails.length > 0">
        <span><b>Renk:</b></span> {{ carDetails[0].colorName }}
      </li>
      <li *ngIf="carDetails.length > 0">
        <span><b>Günlük Fiyat:</b></span> {{ carDetails[0].dailyPrice | currency: "tl" }}
      </li>
    </ul>
  </div>
</div>
